body {
    font-size: 14px; 
    background-color: #FFFFFF; /* Low contrast background color */
    font-family: 'Brush Script MT', cursive, sans-serif; /* Non-standard font */
}
a {
    color: #333;
    text-decoration: none;
}
.hidden {
    display: none; 
}
