body {
    font-size: 20px; 
    background-color: #ffffff; /* Low contrast background color */
    font-family: "Times New Roman", Georgia, serif; /* Non-standard font */
}
a {
    color: #333;
    text-decoration: none;
}
.hidden {
    display: none; 
}
